Django
psycopg2
psycopg2-binary
Pillow
django-excel
pyexcel-xls
pyexcel-webio
pyexcel-handsontable
pyexcel-pygal
pyexcel-ods3
pyexcel-xls
pyexcel-xlsx

nose
mock;python_version<"3"
codecov
coverage
flake8
lxml
moban
black;python_version>="3.6"
isort;python_version>="3.6"